@font-face {
  font-family: poppins;
  src: url(/assets/fonts/poppins.ttf);
}
@font-face {
  font-family: sans;
  src: url(/assets/fonts/sans.ttf);
}

body {
 /* Make the gradient fixed */
    background: linear-gradient(rgb(166, 89, 89),rgb(0, 0, 0)) center center / cover no-repeat fixed;
 /* Full height */
    height: 100%;
}

.button-6 {
  align-items: right;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: poppins;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  line-height: 1.25;
  margin: -5px;
  min-height: 3rem;
  margin-left: 10px;
  padding: 0px 10px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 85px;
  height: 85px;
}



.button-6:hover {
  border: transparent 2px rgba(255, 255, 255, 0.596);
  background-color: rgba(255, 255, 255, 0.411);
  padding: 0px 10px;
  transform: translate(-0%,-3%);
  transition: 0.2s;
}

.button-6:active {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
  border-radius: 5px;
}

nav {
  padding: 8px;
  background-color: transparent;
  margin-top: 502131px; /* Increase this value to move it further down */
  border-radius: 15px;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384));
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.4);
  border: 1px solid rgba(20, 20, 20, 0.349);
  position: relative;
  margin: 0 auto;
  transition: 0.1s;
}

@media (max-width: 1000px) {
  nav {
    width: 100%;
  }
}



::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.37);
}

::-webkit-scrollbar-thumb {
  background-color: #504f4f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


nav p {
  font-family: sans;
}

nav a {
  float: right;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  font-family: sans;
}
nav button {
  float: right;
  text-align: center;
  text-decoration: none;
  margin: 9px;
  font-family: sans;
}
nav .icon {
  display: none;
  color: red;
}

input {
  border: none;
  padding: 20px;
  width: 520px;
  background-color: rgba(22, 22, 22, 0.637);
  color: white;
  outline: none;
  border: 2px solid rgba(51, 51, 51, 0.575);;
  font-family: sans;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  transition: 0.2s;
  opacity: 100%;
  z-index: 1;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
}



.proxybar:focus {
  width: 720px;
}




nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}


h1 {
  font-size: 20px;
  font-family: poppins;
}

.header {
  font-family: mosk;
  font-size: 25px;
  color: white;
  margin-left: 20px;
  margin-top: 2px;
}

.rounded {
  border-radius: 10px;
}

#card1,
#card2,
#card3,
#card4 {
  outline: 3.5px solid #004be0;
  text-align: center;
  float: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
  border-radius: 5.5px;
  transition: 0.5s;
}

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  background-color: #004be0;
  cursor: pointer;
  transition: 0.5s;
}

#featured {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45.5px;
  display: grid;
  grid-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('/assets/img/background.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: sans;
  color: white;
  font-size: 25px;
  margin-left: 5px;
  margin-top: 10px;
}

.title {
  font-family: poppins;
  color: white;
  float: left;
  font-size: 25px;
  width: 250px;
  transition: .2s;
  border-radius: 7px;
}

.title:hover {
  background-color: rgba(255, 255, 255, 0.336);
  border-width: 10px;
  transform: translate(-0%,-3%);
    box-shadow: 0px 8px 48px 0px rgba(0,0,0,0.4);
}

.title:active {
  background-color: rgba(255, 255, 255, 0.582);
}

a {
  font-family: sans;
  color: white;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
}

.searchbar {
  height: 10px;
  width: 500px;
}

/*
.searchbar:hover {
  width:700px;
}
*/


@font-face {
  font-family: 'mosk';
  src: url('/assets/fonts/mosk.ttf');
}

.centered {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 100px;
  margin: 10px;
}

h2 {
  font-family: sans;
  color: white;
}
.footer {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  font-size: 16px;
  background-attachment: fixed;
}


.footer>a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.footer>a:hover {
  color: rgba(255, 255, 255, 0.466);
  transition: 0.2s;
}

.active {
 background-color: rgba(255, 255, 255, 0.267);
}

.bottom-right-content {
  position: absolute; /* Position the content absolutely within the container */
  bottom: 0; /* Distance from the bottom edge */
  right: 0; /* Distance from the right edge */
  margin: 15px;
}
.bottom-right-content>a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.bottom-right-content>a:hover {
  color: rgba(255, 255, 255, 0.466);
  transition: 0.2s;
}

.clock {
  text-decoration: none;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.693);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
  width: 150px;
  font-family: poppins;
  font-size: 18px;
  bottom: 1px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  right: 50%;
  border-radius: 10px;
  transform: translateX(-60%);
  background-attachment: fixed;
}

.randomText {
  text-align: center;
  justify-content: center;
  font-size: 17px;
}
#particles-js {
  position: fixed; /* Change this to 'fixed' */
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--bg-c);
  background-repeat: repeat;
  background-size: auto;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: -1;
}

.partner {
    color: #fff;
    width: 300px;
    height: 310px;
    box-shadow: 0px 8px 48px 0px rgba(0,0,0,0.4);
    background-color: rgba(128, 128, 128, 0.162);
    display: inline-block;
    margin-right: 4px;
    border-radius:10px;
    cursor: pointer;
    transition: .2s;
}
.partner:hover {
  transform: translate(-0%,-3%);
  transition: .2s;
}
.partner p {
  text-align: center;
  padding-left: 1px;
  padding-right: 3px;
}

.partner a {
  position:fixed;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  margin-left: 5px;
  margin-top: 10px;
}